<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-4.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="at.danceandfun.entity.Address"></mapping>
        <mapping class="at.danceandfun.entity.Course"></mapping>
        <mapping class="at.danceandfun.entity.Invoice"></mapping>
        <mapping class="at.danceandfun.entity.Management"></mapping>
        <mapping class="at.danceandfun.entity.Parent"></mapping>
        <mapping class="at.danceandfun.entity.Participant"></mapping>
        <mapping class="at.danceandfun.entity.Performance"></mapping>
        <mapping class="at.danceandfun.entity.Person"></mapping>
        <mapping class="at.danceandfun.entity.Rating"></mapping>
        <mapping class="at.danceandfun.entity.Style"></mapping>
        <mapping class="at.danceandfun.entity.Teacher"></mapping>
    </session-factory>
</hibernate-configuration>
