<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <http pattern="/login" security="none" />
    <http pattern="/css/**" security="none" />
    <http pattern="/font/**" security="none" />
    <http pattern="/img/**" security="none" />
    <http pattern="/js/**" security="none" />

    <http>
        <intercept-url pattern='/admin/**' access='ROLE_ADMIN' />
        <intercept-url pattern='/participant/**'
            access='ROLE_PARTICIPANT, ROLE_PARENT' />
        <intercept-url pattern='/teacher/**' access='ROLE_TEACHER' />
        <intercept-url pattern='/parent/**' access='ROLE_PARENT' />
        <access-denied-handler error-page="/error/accessDenied" />
        <form-login login-page='/login' default-target-url='/default'
            always-use-default-target='true' authentication-failure-url="/login?auth=fail" />
        <logout invalidate-session="true" logout-success-url="/login" />
    </http>

    <!-- TRIED TO ACTIVATE A SUPERUSER, BUT DON'T WORKED<beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleHierarchyVoter"> 
        <beans:constructor-arg ref="roleHierarchy" /> </beans:bean> <beans:bean id="roleHierarchy" 
        class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl"> 
        <beans:property name="hierarchy"> <beans:value> ROLE_SUPERUSER > ROLE_PARTICIPANT 
        ROLE_SUPERUSER > ROLE_TEACHER ROLE_SUPERUSER > ROLE_PARENT ROLE_SUPERUSER 
        > ROLE_ADMIN </beans:value> </beans:property> </beans:bean> -->

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="daoAuthenticationProvider" />
    </authentication-manager>

    <beans:bean id="daoAuthenticationProvider"
        class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="personManagerImpl" />
        <beans:property name="passwordEncoder" ref="passwordEncoder" />
    </beans:bean>

    <beans:bean id="passwordEncoder"
        class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

    <beans:bean id="expressionHandler"
        class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <beans:property name="permissionEvaluator" ref="permissionEvaluator" />
    </beans:bean>

    <beans:bean id="permissionEvaluator"
        class="at.danceandfun.aop.security.DMPermissionEvaluator">
        <beans:constructor-arg index="0">
            <beans:map key-type="java.lang.String"
                value-type="at.danceandfun.aop.security.Permission">
                <beans:entry key="isParent" value-ref="parentPermission" />
                <beans:entry key="owner" value-ref="ownerPermission" />
            </beans:map>
        </beans:constructor-arg>
    </beans:bean>

</beans:beans> 